# Set default behavior to automatically normalize line endings.
* text=auto

# Force LF for shell scripts and python files to ensure container compatibility
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
LICENSE.md text eol=lf
requirements.txt text eol=lf

# Binary files
*.onnx binary
*.fst binary
*.rdb binary
*.bak binary
